*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background-color: #7f8c8d;
}

/*COLOURS*/

.purple {
	background-color: #9b59b6;
}

.orange {
	background-color: #e67e22;
}

.green {
	background-color: #27ae60;
}

.red {
	background-color: #c0392b;
}

.blue {
	background-color: #227093;
}

.gray {
	background-color: #aaa69d;
}

.yellow {
	background-color: #ffd32a;
}

.pink {
	background-color: #ef5777;
}

.cyan {
	background-color: #4bcffa;
}

.black {
	background-color: #1e272e;
}

.lilac {
	background-color: #9c88ff;
}

.navy {
	background-color: #192a56;
}

/*COL*/

.col {
	min-height: 100px;
	float: left;
	padding:;

}

.pageContainer {
	max-width: 1000px;
	margin: 0 auto;
}

.col12{
	width: 100%;
}

.col11{
	width: 91.66%;
}

.col10{
	width: 83.33%;
}

.col9{
	width: 75%;
}

.col8{
 	width: 66.66%;
}

.col7{
 	width: 58.33%;
}

.col6{
	width: 50%;
}

.col5{
 	width: 41.66%;
}

.col4{
	width: 33.33%;
}

.col3{
	width: 25%;
}

.col2{
 	width: 16.67%;
}

.col1{
	width: 8.33%;
}

/*ROW*/

.row:after {
	clear: both;
	display: block;
	content: '';
}

/* Note: Working on percentages is important for responsive design*/

/*RESPONSIVE DESIGN*/

.box{
	height: 100px;
	width: 100%;
	float: left;
}

.logo{
	width: 20%;
}

.nav{
	width: 50%;
}

.box3{
	width: 30%;
}

.text p {
	width: 1000px;
	text-align: left;
	margin: 0 auto;
}




@media screen and (max-width:800px){

	body{
		background-color: white;
	}

	.box{
		float: none;
		width: 100%;
	}

	.logo{
		width: 100%;
	}

	.nav{
		width: 100%;
	}

	.box3{
		width: 100%;
	}

	.text p {
		width: 600px;
		text-align: left;
		margin: 0 auto;
	}

	.colS12{
	width: 100%;
}

	.colS11{
		width: 91.66%;
	}

	.colS10{
		width: 83.33%;
	}

	.colS9{
		width: 75%;
	}

	.colS8{
	 	width: 66.66%;
	}

	.colS7{
	 	width: 58.33%;
	}

	.colS6{
		width: 50%;
	}

	.colS5{
	 	width: 41.66%;
	}

	.colS4{
		width: 33.33%;
	}

	.colS3{
		width: 25%;
	}

	.colS2{
	 	width: 16.67%;
	}

	.colS1{
		width: 8.33%;
	}


}
